* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', 'Inter', sans-serif;
}


.page {
    background-color: #19a2ae; 
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; 
    z-index: 0;
}

/* bubbles */
.page::before, 
.page::after {
    content: "";
    position: absolute;
    width: 978px;
    height: 976px;
    border-radius: 50%;
    background: linear-gradient(135deg, #0989b4 0%, #53ffee 100%);
    /* bablebs svams cardis ukan */
    z-index: -1; 
}

/* Top-Left Bubble */
.page::before {
    top: -500px;
    left: -300px;
    transform: rotate(135deg);
    opacity: 0.5;
}

/* Bottom-Right Bubble */
.page::after {
    bottom: -500px;
    right: -200px;
    transform: rotate(45deg);
    opacity: 0.25;
}





.profile-card {
  width: 350px;
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  text-align: center;
  position: relative;
  z-index: 1; 
}

.card-header {
    height: 140px;
    background-color: #41c7c7;
    position: relative;

    /* bablebis konteineri chavamate background imagead */
    background-image: url('Container.png'); 
    background-size: cover;
    background-position: center;
}

.profile-image {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  position: absolute;
  bottom: -48px;
  left: 50%;
  transform: translateX(-50%);
}

.card-body {
  margin-top: 56px;
  padding: 16px;
}

.user-name {
  font-size: 18px;
  color: #2E3349;
}


.user-age {
  color: #6B7082;
  font-weight: normal;
}

.user-location {
  color: #6B7082;
  margin-top: 8px;
}


.card-footer {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  border-top: 1px solid #e5e7eb;
}


.stat {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 8px;
}

.stat-number {  
    color: #2E3349;
    font-family: Kumbh Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: 0px;
    text-align: center;

}

.stat-label {
    font-weight: 400;
    font-size: 10px;
    color: #6B7082;
    line-height: 125%;
    letter-spacing: 1.5px;
    text-align: center;
}
